<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Wet.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav b-evyl70rts5="" class="navbar navbar-expand-lg">
            <div b-evyl70rts5="" class="container">
                <div b-evyl70rts5="" class="navbar-brand">
                    <a b-evyl70rts5="" href="#" type="button" aria-label="Главная">
                        <img height="60" src="/favicon.png">
                    </a>
                </div>
                <button b-evyl70rts5="" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span b-evyl70rts5="" class="navbar-toggler-icon"></span>
                </button>
                <div b-evyl70rts5="" class="h4 d-flex m-0 collapse navbar-collapse" id="navbarNav">
                    <ul b-evyl70rts5="" class="navbar-nav">
                        <li b-evyl70rts5="" class="nav-item active">
                            <a b-evyl70rts5="" class="nav-link" href="#">Главная</a>
                        </li>
                        <li b-evyl70rts5="" class="nav-item">
                            <a b-evyl70rts5="" class="nav-link" href="#">О нас</a>
                        </li>
                        <li b-evyl70rts5="" class="nav-item">
                            <a b-evyl70rts5="" class="nav-link" href="#">Пациенты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody() //Код из основных страниц
            @if (true)
            {
                <br />
            }
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Wet - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>