@{
}

<section class="container-fluid p-0">
    <section class="container-fluid">
        <section class="pt-5 p-5">
            <div style="color: #2C3053">
                <h5 class="fs-4 mt-9"> Информаци о пациенте </h5>
            </div>
            <div class="row">
                <div class="d-inline col-md-6 my-1 row">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Имя пациента" aria-label="Pet first name">
                    </div>
                </div>
                <div class="d-inline col-md-6 my-1 row">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Код пациента" aria-label="Pet ID name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-inline col-md-6 my-1 row">
                    <div class="input-group">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>*Выберите породу животного*</option>
                            <option value="1">Кот</option>
                            <option value="2">Пес</option>
                            <option value="3">Чел</option>
                        </select>
                    </div>
                </div>
                <div class="d-inline col-md-6 my-1 row">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Возвраст" aria-label="Pet age">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-inline col-md-3 my-1 row">
                    <div class="input-group">
                        <div class="btn-group">
                            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked />
                            <label class="btn btn-primary" for="option1">Checked</label>

                            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" />
                            <label class="btn btn-primary" for="option2">Radio</label>

                            <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" />
                            <label class="btn btn-primary" for="option3">Radio</label>
                        </div>
                    </div>
                </div>
            </div>
            <div style="color: #2C3053">
                <h5 class="fs-4 mt-9"> Информаци о владельце </h5>
            </div>
            <div class="row">
                <div class="d-inline col-md-6 my-1 row">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Имя владельца" aria-label="First name">
                    </div>
                </div>
                <div class="d-inline col-md-6 my-1 row">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Фамилия владельца" aria-label="Last name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-inline col-md-6 my-1 row">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email почта" aria-label="Email">
                    </div>
                </div><div class="d-inline col-md-6 my-1 row">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Номер телефона" aria-label="Phone">
                    </div>
                </div>
            </div>
            <div style="color: #2C3053">
                <h5 class="fs-4 mt-9"> Коментарий лечашего врача </h5>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div style="color: #2C3053">
                <h5 class="fs-4 mt-9"> Симптомы </h5>
            </div>
            <div class="text-light bg-blue-dark d-inline-block rounded-2 col-md-auto m-1 px-2">
                <select class="form-select bg-transparent border-0 text-light" aria-label="Добавить">
                    <option selected>Добавить</option>
                    <option value="1">Один</option>
                    <option value="2">Два</option>
                    <option value="3">Три</option>
                </select>
                <button class="border-0 bg-transparent text-light ms-1">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>
            </div>
            <div style="color: #2C3053">
                <h5 class="fs-4 mt-9"> Заболевания </h5>
            </div>
            <div class="text-light bg-blue-dark d-inline-block rounded-2 col-md-auto m-1 px-2">
                <select class="form-select bg-transparent border-0 text-light" aria-label="Добавить">
                    <option selected>Добавить</option>
                    <option value="1">Один</option>
                    <option value="2">Два</option>
                    <option value="3">Три</option>
                </select>
                <button class="border-0 bg-transparent text-light ms-1">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>
            </div>
            <div class="p-5 d-flex justify-content-center row">
                <button type="button" class="borders-none col-4">
                    <a class="text-decoration-none text-reset " asp-controller="Home" asp-action="Index">
                        Добавить
                    </a>
                </button>
            </div>
        </section>
    </section>
</section>