@{
}

<section class="container-fluid p-0">
    <section class="container-fluid">
        <section class="row pt-5 d-flex justify-content-center my-3">

            <button type="button" class="borders-none btn-square-md me-4 my-2" >
                <a class="text-decoration-none text-reset " asp-controller="Worker" asp-action="CreatePatient">
                    Добавить пациента
                </a>
            </button>
            <button type="button" class="borders-none btn-square-md my-2">
                <a class="text-decoration-none text-reset " asp-controller="Worker" asp-action="PatientsInfo">
                    Найти пациента
                </a>
            </button>
            <button type="button" class="borders-none btn-square-md ms-4 me-4 my-2">
                <a class="text-decoration-none text-reset " asp-controller="Home" asp-action="Index">
                    Новый симптом
                </a>
            </button>
            <button type="button" class="borders-none btn-square-md me-4 my-2">
                <a class="text-decoration-none text-reset " asp-controller="Home" asp-action="Index">
                    Новый диагноз
                </a>
            </button>
            <button type="button" class="borders-none btn-square-md me-4 my-2">
                <a class="text-decoration-none text-reset " asp-controller="Home" asp-action="Index">
                    Выход
                </a>
            </button>
        </section>
    </section>
</section>

