@{
}

<div class="container-fluid p-0 bg-blue-light">
    <section class="container-fluid">
        <div class="row pt-5">
            <div class="col-sm-4" >
                <div class="card mb-3 border-1 border-dark h-100">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="margin-top: 8%"> Добавить пациента</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-3 border-1 border-dark h-100">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="margin-top: 8%"> Найти пациента</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-3 border-1 border-dark h-100">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="margin-top: 8%"> Новый симптом</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5 overflow-hidden">
            <div class="col-sm-6">
                <div class="card mb-3 border-1 border-dark h-100">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="margin-top: 7%"> Новый диагноз</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3 border-1 border-dark h-100">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="margin-top: 7%"> Выход</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
