<div class="container-fluid bg-blue h-100">
    <section class="container py-3 col-md-6">
        <form class="needs-validation" novalidate>
            <input type="email" class="form-control my-2" placeholder="Логин" required>
            <input type="password" class="form-control my-2" id="password" placeholder="Пароль" required>
            <button type="submit" class="btn btn-primary my-2">Войти</button>
        </form>
    </section>
</div>