@{
    //ViewData["Title"] = "Узнать диагнос питомца онлайн";
    ViewData["Header_1"] = "Узнайте последние результаты обследования прямо сейчас!";
    ViewData["Header_2"] = "О hh"; 
}

<div class="container-fluid p-0">
    <section>
        <div class="bg-image">
            <img src="/img/cat.jpg" class="w-100" />
            <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                <h3 style="font-size: 3.3vw"> @ViewData["Title"] </h3>
                <h4 style="font-size: 3vw; color: #F4F0D4"> @ViewData["Header_1"] </h4>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div>
                <hr />
                <div style="text-align: center; color: #474D80">
                    <h3 style="font-size: 2.5vw"> @ViewData["Header_2"] </h3>
                </div>
                <hr />
                <div class="container m-1 overflow-hidden">
                    <img class="" src="img\index-oww.jpg" style="width: 30%; margin: 10px;  align-items: center" alt="0" align="right" />
                    <p style="font-size: 1.7vw; margin-top: 7.5%"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan diam felis, nec varius dolor luctus sed. Ut consequat sit amet arcu non rhoncus. Sed at odio sollicitudin, dapibus nisi eu, facilisis ex. Vivamus eget nunc non metus vestibulum tempor. Quisque rhoncus dolor a sem elementum lacinia. Nam ac ante in tortor dignissim sodales. Aenean mattis iaculis ligula. <br /> </p>
                </div>
                <hr />
                <div class="container" style="overflow:hidden; margin: 10px">
                    <img src="img\index-www.jpg" style="width: 30%; margin: 10px; align-items: center" alt="1" align="left" />
                    <p style="font-size: 1.7vw; margin-top: 7.5%"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan diam felis, nec varius dolor luctus sed. Ut consequat sit amet arcu non rhoncus. Sed at odio sollicitudin, dapibus nisi eu, facilisis ex. Vivamus eget nunc non metus vestibulum tempor. Quisque rhoncus dolor a sem elementum lacinia. Nam ac ante in tortor dignissim sodales. Aenean mattis iaculis ligula. <br /> </p>
                </div>
                <hr />
            </div>
        </div>
    </section>
</div>





