<div> 
    <section class="container py-3 col-md-6">
        <form class="needs-validation" id="loginForm" method="post">
            <input type="email" name="login" class="form-control my-2" placeholder="Логин" id="email" required>
            <input type="password" name="password" class="form-control my-2" id="password" placeholder="Пароль" required>
            <span id="test"></span>
        </form>
        <input type="submit" class="btn btn-primary my-2" id="submitLogin" value="Войти"/>
    </section>
</div>