@using Wet.Models
@model List<Patient>

<div class="container-fluid px-0">
    <section>
        <div class="bg-image">
            <img src="/img/bgMain3.png" class="w-100" />
            <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                <h4>Пациенты</h4>
                <p class="m-0">информация о наших пациентах</p>
            </div>
        </div>
    </section>
    <section class="bg-blue-light container-fluid py-3">
        <div class="container">
            <div class="col-md-6 py-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Номер" aria-label="First name" aria-describedby="button-addon1" id="number">
                    <button class="btn btn-outline-danger d-inline-block" type="button" onclick="myFunction();">Найти</button>
                </div>
            </div>
            <div>
                <table class="table bg-light text-dark overflow-scroll" id="tabble_main">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Симптомы</th>
                            <th scope="col">Диагнозы</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in Model)
                        {
                           <tr>
                                <th scope="row">@patient.Numer</th>
                                <td>@patient.Name</td>
                                <td>
                                    @foreach (var item in patient.Simptoms)
                                    {
                                        @(item.Name + " ")
                                    }
                                </td>
                                <td>
                                    @foreach (var item in patient.Diagnozs)
                                    {
                                        @(item.Name + " ")
                                    }
                                </td>
                            </tr>       }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>