
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
}

body {
    font-family: Georgia, 'Tinos', Times, serif;
    min-height: 100vh;
    flex-direction:column;
    display:flex;
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.bg-blue-light {
    background: #C3C5DC;
}

.bg-blue {
    background: #BCBED3;
}

.bg-blue-dark {
    background: #70749A;
}

.blueText {
    color: #474D80;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
    .marketing .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
    }
.featurette-divider {
    margin: 5rem 0; 
}

.featurette-heading {
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.btn-square-md {
    width: 150px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 150px !important;
    text-align: center;
    padding: 3px;
    font-size: 20px;
}

.borders-none {
    border: none;
    box-shadow: 0px 0px 10px 0px #fff;
}

    .borders-none:hover {
        color: #f8f9fa;
        background-color: #343a40;
        box-shadow: 0px 0px 10px 0px #000000;
    }