@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid p-0">
    <section>
        <div class="bg-image">
            <img src="/img/bgMain3.png" class="w-100" />
            <div class="mask text-light d-flex justify-content-center flex-column text-center" style="background-color: rgba(0, 0, 0, 0.5)">
                <h4>Custom heading</h4>
                <p class="m-0">paragraph</p>
            </div>
        </div>
    </section>
    <section>
        <div class="bg-blue-light">
            <section class="py-3 justify-content-center flex-column text-center ">
                <div class="h3 blueText">Simptom</div>
                <div class="row my-3 justify-content-lg-center w-75">
                    @for (int i = 0; i < 10; i++)
                    {
                        <div class="text-light bg-blue-dark d-inline-block rounded-2 col-md-auto mx-1 my-1">FirstSimptom<i class="fa-solid fa-xmark ms-2 me-1"></i></div>
                    }
                </div>
            </section>
        </div>
    </section>
</div>